.userView {
  padding: 0px !important;
  height: 170px;
  position: relative;
}

.userView > a {
  padding: 0px !important;
}

.typeUser {
  position: absolute;
  z-index: 2;
  margin-top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.nameUser {
  bottom: 0px;
  position: absolute;
  z-index: 2;
  margin-bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0px;
}

.menu {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-button {
    margin-top: 10px;
}

.nav-wrapper{
  color: rgb(17, 91, 166) !important;
}

   /* icon prefix focus color */
.input-field .prefix.active {
  color: rgb(17, 91, 166);
}

/* Pour que les choix des select soient de la même couleur que le bleu du site  */
ul.dropdown-content.select-dropdown li span {
    color: rgb(17, 91, 166);
}

.profilekey {
  color: rgb(17, 91, 166) !important;
  font-weight: bold;
  border-bottom: 1px groove black;
  padding-left: 10px;
  padding-right: 10px;
}

/* Quand c'est petit */
@media (max-width: 600px) {
    .btn-auth {
        text-align: center;
    }
}

/* Quand c'est moyen */
@media (min-width: 600px) and (max-width: 992px) {
  .btn-auth {
    text-align: right;
  }
}

/* Quand c'est grand */
@media (min-width: 992px) {
    main {
        padding-left: 300px;
    }

    .btn-auth {
      text-align: right;
    }
}
