.userView {
  padding: 0px !important;
  height: 170px;
  position: relative;
}

.userView > a {
  padding: 0px !important;
}

.typeUser {
  position: absolute;
  z-index: 2;
  margin-top: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.nameUser {
  bottom: 0px;
  position: absolute;
  z-index: 2;
  margin-bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.menu {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-button {
    margin-top: 10px;
}

   /* icon prefix focus color */
.input-field .prefix.active {
  color: rgb(17, 91, 166);
}

/* Quand c'est petit */
@media (max-width: 600px) {
    .btn-auth {
        text-align: center;
    }
}

/* Quand c'est moyen */
@media (min-width: 600px) and (max-width: 992px) {
  .btn-auth {
    text-align: right;
  }
}

/* Quand c'est grand */
@media (min-width: 992px) {
    main {
        padding-left: 300px;
    }

    .btn-auth {
      text-align: right;
    }
}
