.userView {
  background-image: url("../img/betheny.jpg");
  background-size: contain;
  height: 170px;
}

.menu {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-button {
    margin-top: 10px;
}

@media (min-width: 992px) {
    main {
        padding-left: 300px;
    }
}